:root {
    --n: 45;
}
.particlejs-top{
    height:'750px';
    border: 1px solid white;
    /* z-index: 100; */
    box-shadow: 10px 40px 40px 10px ;
}

/* .home-main-heading{
    display: inline-block;
    position:relative;
        top: -91px;
        left: 10vw;
    padding-left: 2.5em;
    border: 2px solid white;
} */
.main-title {
    position:absolute;
    left:10vw;
    top:304px;
    font-size: 6.5vw;
    font-weight: 700;
    font-family: monospace;
    color:#0000;
    background:
        linear-gradient(-90deg, whitesmoke 5px,#0000 0) 10px 0,
        linear-gradient(whitesmoke 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
        b .45s infinite steps(1),   
        t calc(var(--n)*.15s) steps(var(--n)) forwards;
}

@keyframes t{
    from {background-size:0 200%};
}

@keyframes b{
    50% {background-position:0 -100%, 0 0};
}

@media (max-width: 600px){
    .main-title {
        font-size: 56px;
    }
    .home-main-heading {
        left: 5vw;
        top: 200px;
    }
}