
.home-main-heading{
    display: inline-block;
    position:relative;
        top:290px;
        left: 140px;
}
.main-title{
        
        overflow: hidden;
        white-space: nowrap; /* Keeps the content on a single line */
        border-right: .15em solid whitesmoke; /* The typwriter cursor */
        font-size: 5em;
        font-family: 'Martian Mono', monospace;
        font-weight: 900;
        color: whitesmoke;
        animation: 
            typing 3s steps(60, end),
            blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: whitesmoke; }
}

@media screen and (max-width: 800px) {
    .main-title{
        font-size: 4em;
    }
    .home-main-heading{
        left: 100px;
    }
}
@media screen and (max-width: 615px) {
    .main-title{
        font-size: 2.5em;
    }
    .home-main-heading{
        left: 60px;
    }
}
@media screen and (max-width: 400px) {
    .main-title{
        font-size: 2em;
    }
    .home-main-heading{
        left: 40px;
    }
}